.block{
    margin: 41px 33px 0px 0px;
    background-color: #ffff;
    border-radius: 10px;
    padding: 34px 30px 34px 30px;
}
h3{
    font-weight: 700;
font-size: 22px;
line-height: 27px;
margin-bottom: 28px;
}
.least-transaction {
    // border-radius: 20px;
}