* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text {
  padding: 0px 10px 0px 10px;
  color: #ffff;
  margin-bottom: 0rem;
  background-color: transparent;
}
Col{
  background: #FFFFFF;
}
.header {
  //display: flex;
  // justify-content: space-between;
  padding: 22px 30px 22px 30px;
  align-items: center;
  box-shadow: 0px 4px 40px rgba(39, 32, 120, 0.1);
  background: #FFFFFF;

  

}
  .header-logo {
    display: flex;
    align-items: center;
    //justify-content: center;
    background: #FFFFFF;
    .soft-name {
      display: flex;
      text-align: center;
      margin-left: 9px;
      margin-bottom: 0px;
      background: #FFFFFF;
    }
  }
  .header-btn {
    display: flex;
    .header-btn-global {
      display: flex;
      border-radius: 0.5rem;
      height: 37px;
      align-items: center;
      justify-content: center;
      border: none;
      background: #FFFFFF;
    }
    .tool-btn {
      background-color: #7366ff;
      margin-right: 10px;
    }
    .recharge-btn {
      background-color: #f73164;
    }
    .icon-btn {
      padding-right: 5px;
      // margin: 0px 17px 0px 0px;
      background-color: transparent;
    }
  }
  .header-icon {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    padding-right: 10px;
    background: #FFFFFF;
     margin-right: 1rem;

    .icon {
      margin-right: 17px;
    }
    .block-admin {
      display: flex;
      align-items: center;
      .avatar-logo {
        height: 37px;
      }

      .sub-text {
        color: #8d8d8d;
        font-size: 12px;
      }
      .admin-name {
        margin-bottom: 0rem;
      }
    }
  }
.img-logo, .avatar-logo {
  height: 28px;
}
.show li{
    list-style-type: none;
    padding: 0.2rem 0rem;
    display: block;
    border: 10px;
    cursor: pointer;
}
.hower-li{
  font-size: 20px;
}
.hower-li:hover{
  background-color: #dddddd;
}
.list-item-user{
  padding: 0.2rem 1rem;
}
.icon{
  position: relative;
}
.show {
  position: absolute;
  margin-right: 1rem;
  top: 100%;
  right: 0;
  z-index: 1000;
  display: block;
  min-width: 20rem;
  // margin: 1rem 0 0 0;
  font-size: 1rem;
  padding: 0.75rem 0 0 0;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
  list-style: none;
   background-color: #FFF;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;

}
.not-show {
 display: none;
}
.menu::before{
  content: "";
display: block;
  top: 3rem;
  left: 1rem;
  
position: absolute;
border: 1px solid rgba(82, 82, 108, 0);
border-width: 30px 30px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
// #notification{
//   margin-right: 3rem;

// }
// .dropdown-menu.show {
//   display: block;
// }
// .dropdown-notification{
//   position: absolute;
//   top: 100%;
//   right: 0;
//   z-index: 1000;
//   display: none;
//   float: right;
//   min-width: 10rem;
//   padding: 0.5rem 0;
//   margin: 0.125rem 0 0;
//   font-size: 1rem;
//   text-align: left;
//   list-style: none;
//   background-color: #f73164;
//   background-clip: padding-box;
//   border: 1px solid rgba(0, 0, 0, 0.15);
//   border-radius: 0.25rem;
// }
//---------------header-icon--------
